* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;

  display: inline-block;
  text-align: center;
}
ul {
  display: inline-block;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.change{
    display:none;
}
.icon-menu{
    width: 40px;
    height: 40px;
    display:none;
}

@media (max-width: 768px){
    ul{
    display: none;
    }
    li{
        width:100%;
        text-align: center;
    }
    .icon-menu{
        display: inline-block;
    }
    .change:checked ~ ul{
        display: inline-block;
    }

}
